@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
} 

body{
  width: 100%;
  height: 100%;
  background: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 1%;
}

.blocknav {
  background: #EDEDED;
}

.navblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;        

}
.navblock__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navblock__logo img {
  width: 100%;
}
.navblock__txt {
  font-size: 16px;
font-family: 'Poppins';
line-height: 30px;
color: #121212;
  
}
.navblock__txt:hover {
  color: #008080;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}


.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #ff6a28;
  
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
   justify-content: center;
}


@media screen and (max-width:769px){
  .navbar__wrap{
    justify-content: right;
  }

}   


@media screen and (max-width:426px){
  .navbar__wrap{
    justify-content: right;
  }

}  



@media screen and (max-width:321px){
  .navbar__wrap{
    justify-content: right;
  }

}   



.hamb {
  display: none;
}

.popup {
  display: none;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
}

.navbar__wrap .menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  color: black;
font-family: 'Poppins';
font-size: 20px;
}

.navbar__wrap .menu > li > a:hover {
  color: black;
}
@media (max-width: 1000px) {
  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
    justify-self: last baseline;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
}



@media screen and (max-width:1025px){
    .header1{
      font-size: 27px;
    }
  }   



  @media screen and (max-width:769px){
    .header1{
      font-size: 23px;
    }

  }   


  @media screen and (max-width:426px){
    .header1{
      font-size: 15px;
    }

  }  
  
  

  @media screen and (max-width:321px){
    .header1{
      font-size: 10px;
    }

  }     





.t{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #121212;
}



.b {
width: 19%;
height: 92px;
color: #FF6A28;
background: #fff;
border: 1px solid #FF6A28;
border-radius: 5px;
font-family: 'Poppins';
font-weight: 600;
font-size: 20px;
}



/*
.sec-1 {
}
.container {
}
.sec-1 .block {
    
}
*/

.ttt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    color: #121212;
    margin-bottom: 4%;
    margin-top: 17%;

}




.text1 {
width: 70%;
font-family: 'Poppins';
font-size: 20px;
text-align: center;
color: rgba(18, 18, 18, 0.6);
margin-bottom: 4%;
}
.but111{
    width: 180px;
    height: 52px;
    left: 136px;
    top: 3466px;
    color: #fff;
    font-size: 20px;
    background: #FF6A28;
    border-radius: 5px;
}


@media screen and (max-width:1025px){
    .head1{
      font-size: 50px;
    }
    .text1{
        font-size:17px ;
    } 
    .but111{
        font-size: 15px;
        width: 170px;
        height: 43px;
    } 
  }   



  @media screen and (max-width:769px){
    .head1{
      font-size: 40px;
    }
    .text1{
        font-size: 13px ;
    } 
    .but111{
        font-size: 11px;
        width: 150px;
        height: 33px;
    } 
  }   


  @media screen and (max-width:426px){
    .head1{
      font-size: 25px;
    }
    .text1{
        font-size: 11px ;
    } 
    .but111{
        font-size: 5px;
        width: 60px;
        height: 20px;
    } 
  }   




.image1 {
    position: relative;
}
.f1 {
    width: 100%;
}

.on1{


    position: absolute;
    display: flex;
    
    transform: translate(-50%, -50%);
    top: 22%;
    left: 18%;
    width: 30%;
    height: 14%;
    background: rgba(255, 255, 255, 0.76);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    align-items: center;
}


.z1 {

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 44px;
margin-right: 10%;
margin-left: 5%;
color: #FF6A28;
}
.z11 {
width: 45%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: rgba(18, 18, 18, 0.83);
}

.on2{
    position: absolute;
    display: flex;
    
    transform: translate(-50%, -50%);
    top: 75%;
    left: 83%;
    width: 30%;
    height: 14%;
    background: rgba(255, 255, 255, 0.76);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    align-items: center;
}

.z2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    margin-right: 10%;
    margin-left: 5%;
    color: #FF6A28;
}
.z22 {
    width: 45%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: rgba(18, 18, 18, 0.83);
}







@media screen and (max-width:1025px){
    .z1{
      font-size: 38px;
    }
    .z2{
        font-size: 38px;
      }

    .z11{
        font-size:14px;
    }
    .z22{
        font-size:14px ;
    }
  }   



  @media screen and (max-width:769px){
    .z1{
        font-size: 30px;
      }
      .z2{
          font-size: 30px;
        }
        .z11{
            font-size: 10px; ;
        }
        .z22{
            font-size: 10px; ;
        }
      

  }   


  @media screen and (max-width:426px){
    .z1{
        font-size: 22px;
      }
    .z2{
          font-size: 22px;
    }
    .z11{
        font-size: 6px;
    }
    .z22{
        font-size: 6px;
    }
         

  }  
  
  

  @media screen and (max-width:321px){
    .z1{
        font-size: 15px;
      }
      .z2{
          font-size: 15px;
        }
        .z11{
            font-size:4px ;
        }
        .z22{
            font-size:4px ;
        }
         
  }     















.sec-2 {
}
.container {
}
.block {
}
.text2 {
    margin-bottom: 4%;
}
.log2 { 
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 60px;
    margin-top: 6%;
    color: #121212;

}

.d1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line1{
    width: 32.3px;
    height: 0.3px;
    border: 1px solid #FF6A28;
}

.txt2 {
font-family: 'Poppins';
font-style: normal;
font-size: 20px;
line-height: 175%;

color: rgba(18, 18, 18, 0.6);
}


@media screen and (max-width:1025px){
    .log2{
      font-size: 50px;
    }
    .txt2{
        font-size:17px ;
    } 

  }   



 @media screen and (max-width:769px){
    .log2{
      font-size: 40px;
    }
    .txt2{
        font-size: 13px ;
    } 
  }   


@media screen and (max-width:426px){
    .log2{
      font-size: 25px;
    }
    .txt2{
        font-size: 11px ;
    } 
  }   





.block00{
    width: 100%;
    margin: 0 auto;
    min-height: 300px;
    position: relative;
}

.block01 {
}
.s21 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.b01 {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 40px;
    line-height: 60px;
    color: #121212;
    margin-top: 5%;
    margin-bottom: 5%;
}
.t01 {
    font-family: 'Poppins';
    font-style: normal;
    width: 75%;
    font-size: 20px;
    text-align: justify;
    color: rgba(18, 18, 18, 0.83);
    

}


@media screen and (max-width:1025px){
    .b01{
      font-size: 50px;
    }
    .t01{
        font-size:17px ;
    } 

  }   



 @media screen and (max-width:769px){
    .b01{
      font-size: 40px;
    }
    .t01{
        font-size: 13px ;
    } 
  }   


@media screen and (max-width:426px){
    .b01{
      font-size: 25px;
    }
    .t01{
        font-size: 11px ;
    } 
  }   







        .prev,
		.next {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			font-size: 45px;
			z-index: 100;
			width: 10%;
			height: 99%;
			position: absolute;
			top: 0;
		}
		.prev {
			left: 0;
		}
		.next {
			right: 0;
		}
		.prev:hover,
		.next:hover {
			background-color: rgba(0, 0, 0, 0.5);
		}


        .sliderNew-dots {
			text-align: center;
			margin: 1rem 0;
		}
		.dot {
			cursor: pointer;
			height: 15px;
			width: 15px;
			margin: 0 2px;
			background-color: #a0a1a9;
			border-radius: 50%;
			display: inline-block;
		}
		.dot.dot-active,
		.dot:hover {
			background-color: #2c3878;
		}





      

.sec-3 {
}
.container {
}
.block {
}
.text3 {
}
.log3 {
    font-family: 'Playfair Display';
    font-size: 60px;
    color: #121212;
    margin-top: 6%;
}

.d2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txt3 {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 175%;

    color: rgba(18, 18, 18, 0.6);

}

.line100{
    width: 32.3px;
    height: 0.3px;
    border: 1px solid #FF6A28;
}


@media screen and (max-width:1025px){
    .log3{
      font-size: 50px;
    }
    .txt3{
        font-size:17px ;
    } 

  }   



 @media screen and (max-width:769px){
    .log3{
      font-size: 40px;
    }
    .txt3{
        font-size: 13px ;
    } 
  }   


@media screen and (max-width:426px){
    .log3{
      font-size: 25px;
    }
    .txt3{
        font-size: 11px ;
    } 
  }   



.card221 {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.image3-17{
    width: 45%;
}

.t333{
    text-align: left;
    margin-left: 5%;

}

.txt30{
    font-family: 'Poppins';
    font-size: 50px;

    color: #121212;
    text-align: left;
    margin-bottom: 1%;
}

.t31 {
    font-family: 'Poppins';
    font-size: 20px;
    margin-bottom: 2%;
    color: rgba(18, 18, 18, 0.6);

}
.t32 {
    font-family: 'Poppins';;
    font-size: 24px;
    line-height: 191%;
    text-align: justify;
    color: rgba(18, 18, 18, 0.83);
}






@media screen and (max-width:1025px){
    .txt30{
      font-size: 50px;
    }
    .t32{
        font-size:17px ;
    }
    .t31{
        font-size: 17px;
    } 

  }   



 @media screen and (max-width:769px){
    .txt30{
      font-size: 40px;
      
    }
    .t32{
        font-size: 13px ;
    } 
    .t31{
        font-size: 13px;
    } 
  }   


@media screen and (max-width:426px){
    .txt30{
      font-size: 25px;
      text-align: center;
    }
    .t32{
        font-size: 11px ;
    }
    .t31{
        font-size: 9px;
    } 
    .card221 {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
        align-items: center;
    }
    .image3-17{
        width: 95%;
    }
    .t333{
        text-align: center;
    }
     
  }   






.sec-4 {
}
.container {
}
.block {
}
.text4 {
}

.line4{
    height: 20px;
    width: 4px;
    background-color: #FF6A28;
}

.log4 {
    font-family: 'Playfair Display';
    font-size: 60px;
    text-align: center;
    color: #121212;
    margin-top: 7%;
}

.d3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.line2{
    width: 32.3px;
    height: 0.3px;
    margin-top: 0.2%;
    border: 1px solid #FF6A28;
    
}

.txt4 {
font-family: 'Poppins';
font-size: 20px;
line-height: 175%;
text-align: center;
color: rgba(18, 18, 18, 0.6);
}




@media screen and (max-width:1025px){
    .log4{
      font-size: 50px;
    }
    .txt4{
        font-size:17px ;
    } 

  }   



 @media screen and (max-width:769px){
    .log4{
      font-size: 40px;
    }
    .txt4{
        font-size: 13px ;
    } 
  }   


@media screen and (max-width:426px){
    .log4{
      font-size: 25px;
    }
    .txt4{
        font-size: 11px ;
    } 
  }   




.info-c {
    display: flex;
    flex-direction: row;
    margin-bottom: 9%;
}
.card4 {
    text-align: left;
    width: 82%;
    margin-right: 6%;
}

.card42 {
    text-align: left;
    width: 82%;
    margin-left: 6%;
}

.txt411 {
    font-family: 'Poppins';
    font-size: 50px;
    color: #121212;
    margin-bottom: 4%;
}
.t411 {
font-family: 'Poppins';
font-size: 24px;
text-align: justify;
color: rgba(18, 18, 18, 0.83);
margin-bottom: 4%;
}
.b4 {

width: 190px;
height: 52px;
left: 136px;
top: 3466px;
color: #fff;
font-size: 20px;
background: #FF6A28;
border-radius: 5px;
}



@media screen and (max-width:1025px){

    .b4{
        font-size: 15px;
        width: 170px;
        height: 43px;
    } 
  }   



  @media screen and (max-width:769px){

    .b4{
        font-size: 11px;
        width: 150px;
        height: 33px;
    } 
  }   


  @media screen and (max-width:426px){

    .b4{
        font-size: 5px;
        width: 60px;
        height: 20px;
    } 
  }   


.image3-1 {
    width: 55%;
}


.txt421 {
    font-family: 'Poppins';
    font-size: 50px;
    color: #121212;
    margin-bottom: 4%;
}
.t421 {
    font-family: 'Poppins';
    font-size: 24px;
    text-align: justify;
    color: rgba(18, 18, 18, 0.83);
    margin-bottom: 4%;
}

.txt431 {
    font-family: 'Poppins';
    font-size: 50px;
    color: #121212; 
    margin-bottom: 4%;   
}
.t431 {
    font-family: 'Poppins';
    font-size: 24px;
    text-align: justify;
    color: rgba(18, 18, 18, 0.83);
    margin-bottom: 4%;
}

.info-4h1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
}

.info-4h1-txt4{
    font-family: 'Poppins';
    font-size: 20px;
    padding: 2%;
}

.info .hide {
	display: none;
}
.info .show {
	display: flex;
}
.fade {
	animation: fade 2.5s;
	-webkit-animation: fade 2.5s;
}
.active {
    font-size: 25px;
    border: 4px solid  #FF6A28;
    border-radius: 5px;
}

@keyframes fade {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}






 @media screen and (max-width:1025px){
    .active{
      font-size: 19px;
      border: 3px solid  #FF6A28;
    }
    .info-4h1-txt4{
      font-size: 17px;

    }
    .line4{
      width: 3px;
    }


  }   



 @media screen and (max-width:769px){
    .active{
      font-size: 12px;
      border: 2px solid  #FF6A28;
    }
    .info-4h1-txt4{
      font-size: 11px;

    }
    .line4{
      width: 2px;
    }

  }   


@media screen and (max-width:426px){
    .active{
      font-size: 7px;
      border: 1px solid  #FF6A28;
    }
    .info-4h1-txt4{
      font-size: 6px;

    }
    .line4{
      width: 1px;
    }

  }   

  









@media screen and (max-width:1025px){
    .txt411{
      font-size: 50px;
    }
    .t411{
        font-size:17px ;
    } 

  }   



 @media screen and (max-width:769px){
    .txt411{
      font-size: 40px;
    }
    .t411{
        font-size: 13px ;
    } 
  }   


@media screen and (max-width:426px){
    .txt411{
      font-size: 25px;
    }
    .t411{
        font-size: 11px ;
    } 
  }   





  @media screen and (max-width:1025px){
    .txt421{
      font-size: 50px;
    }
    .t421{
        font-size:17px ;
    } 

  }   



 @media screen and (max-width:769px){
    .txt421{
      font-size: 40px;
    }
    .t421{
        font-size: 13px ;
    } 
  }   


@media screen and (max-width:426px){
    .txt421{
      font-size: 25px;
    }
    .t421{
        font-size: 11px ;
    } 
  }   




  
  @media screen and (max-width:1025px){
    .txt431{
      font-size: 50px;
    }
    .t431{
        font-size:17px ;
    } 

  }   



 @media screen and (max-width:769px){
    .txt431{
      font-size: 40px;
    }
    .t431{
        font-size: 13px ;
    } 
  }   


@media screen and (max-width:426px){
    .txt431{
      font-size: 25px;
    }
    .t431{
        font-size: 11px ;
    } 
    .info-c{
        display: flex;
        flex-direction: column;
        text-align: center;

        align-items: center;
    }
    .card4{
        align-items: center;
        text-align: center;
    }
    .image3-1{
      display: flex;
        margin-top: 5%;
    }
  }   





.sec-5 {
}
.container {
}
.block {
}

.t555 {
    text-align: center;
}
.head5 {
    font-family: 'Playfair Display';
    font-size: 60px;
    color: #121212;
    margin-bottom: 5%;
}
.text55 {
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 191%;
    color: rgba(18, 18, 18, 0.83);
    margin-bottom: 5%;
}
.line5 {
    width: 100%;
    height: 10%;
    margin-top: 1.5%;
    border: 1px solid #FF6A28;
    margin-bottom: 5%;
}
.but1 {
    width: 190px;
    height: 52px;
    left: 136px;
    top: 3466px;
    color: #fff;
    font-size: 20px;
    background: #FF6A28;
    border-radius: 5px;
}








@media screen and (max-width:1025px){
    .head5{
      font-size: 50px;
    }
    .text55{
        font-size:17px ;
    } 

  }   



 @media screen and (max-width:769px){
    .head5{
      font-size: 40px;
    }
    .text55{
        font-size: 13px ;
    } 
  }   


@media screen and (max-width:426px){
    .head5{
      font-size: 25px;
    }
    .text55{
        font-size: 11px ;
    } 
  }   






#but1 {
	cursor: pointer;
	display: block;
	margin: 25px auto;
	background-color: #FF6A28;
	color: #fff;
	font-size: 18px;
	padding: 15px 35px;
	border-radius: 5px;
}
.modal {
    font-family: 'Poppins';
	/*  */
	display: none;
	/*  */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal_active {
	display: block;
}

.modal__container{
	width: 80%;
	max-width: 700px;
	margin: 100px auto;
    align-items: center;
	box-shadow: 1px 1px 10px #777777;
	padding: 35px;
	background-color: #fff;
	/* Для анимации */
	position: relative;
	animation-name: animatetop;
	animation-duration: 0.4s;
}
.modal__close,
.modal__closeBtn {
	font-size: 40px;
	color: #777777;
	cursor: pointer;
	float: right;
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}















@media screen and (max-width:1025px){

    .but1{
        font-size: 15px;
        width: 170px;
        height: 43px;
    } 
  }   



  @media screen and (max-width:769px){

    .but1{
        font-size: 11px;
        width: 150px;
        height: 33px;
    } 
  }   


  @media screen and (max-width:426px){

    .but1{
        font-size: 5px;
        width: 60px;
        height: 20px;
    } 
  }   




form p{
font-size: 24px;
margin-bottom: 2%;
}

input{
    width: 100%;
    background-color: #F8FAFB;
    font-size: 20px;
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}



@media screen and (max-width:1025px){

    .but1{
        font-size: 15px;
        width: 170px;
        height: 43px;
    } 
  }   



  @media screen and (max-width:769px){

    .but1{
        font-size: 11px;
        width: 150px;
        height: 33px;
    } 
  }   


  @media screen and (max-width:426px){

    .but1{
        font-size: 5px;
        width: 60px;
        height: 20px;
    } 
  }   





@media screen and (max-width:1025px){
    form p{
      font-size: 38px;
    }
    form button{
      width: 150px;
      height: 46px;
      font-size: 33px;
      border-radius: 4px;
    }


  }   



  @media screen and (max-width:769px){
    form p{
        font-size: 30px;
      }
    form button{
      width: 100px;
      height: 40px;
      font-size: 28px;
      border-radius: 3px;
    }


      

  }   


  @media screen and (max-width:426px){
    form p{
        font-size: 22px;
      }
    form button{
      width: 80px;
      height: 32px;
      font-size: 20px;
      border-radius: 3px;
    }


         

  }  
  
  

  @media screen and (max-width:321px){
    form p{
        font-size: 15px;
      }
    form button{
    width: 55px;
    height: 28px;
    font-size: 15px;
    border-radius: 2px;
    }

         
  }     





form button{
    width: 190px;
    height: 52px;
    color: #fff;
    font-size: 20px;
    background: #FF6A28;
    border-radius: 5px;
}













.head600{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 5%;

}












.linep{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width:769px){

  .linep{
    display: flex;
    flex-direction: column;
    text-align: center;
   

  } 
}   


@media screen and (max-width:426px){

  .linep{
    display: flex;
    flex-direction: column;

  } 
}   


.line7{
    width: 67px;
    height: 2px;
    background-color: #FF6A28;
}

.head6{
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 60px;
}

.p6{
font-weight: 500;
font-size: 20px;
line-height: 175%;
}


@media screen and (max-width:1025px){
    .head6{
      font-size: 50px;
    }
    .p6{
        font-size:17px ;
    } 

  }   



 @media screen and (max-width:769px){
    .head6{
      font-size: 40px;
    }
    .p6{
        font-size: 13px ;
    } 
  }   


@media screen and (max-width:426px){
    .head6{
      font-size: 25px;
    }
    .p6{
        font-size: 11px ;
    } 
    .head600{
        align-items: center;
    }
  }   







.stylerow{
    display: flex;
    flex-direction: row;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 35px;
    line-height: 83px;
    justify-content: space-around;
    margin-bottom: 5%;
}

@media screen and (max-width:426px){
    .stylerow{
      display: flex;
      flex-direction: column;
    }
  }   




.styler{
    width: 23%;
}

.flex-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stylerback{
    width: 100%;
    background-color: #F8FAFB;
    height: 50px;
    position: relative;
    border-radius: 5px;
}

.styler-p{
    position: absolute;
}





@media screen and (max-width:426px){
    .stylerow{
        margin-bottom: 5%;
        align-items: center;
    }

  }   





  @media screen and (max-width:1025px){
    .stylerow{
      font-size: 30px;
    }

  }   



 @media screen and (max-width:769px){
    .stylerow{
      font-size: 24px;
    }

  }   


@media screen and (max-width:426px){
    .styler-p{
      font-size: 18px;
    }

  }   

  


.type{
    display: none;
    width: 21%;
    display: inline-block;
    margin: 6%;
}

@media screen and (max-width:1025px){
  .type{
    margin: 5%;
  }

}   



@media screen and (max-width:769px){
  .type{
    margin: 4%;
  }

}   


@media screen and (max-width:426px){
  .type{
    margin: 3%;
  }

}   


.typediv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.typeline{
    height: 67px;
    width: 3px;
    background-color: #FF6A28;
}

.typep{
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
}


@media screen and (max-width:1025px){
    .typep{
      font-size: 20px;
    }

  }   



 @media screen and (max-width:769px){
    .typep{
      font-size: 16px;
    }

  }   


@media screen and (max-width:426px){
    .typep{
      font-size: 11px;
    }

  }   


.show{
    display: inline-block;
}

.remove{
    display: none;
}


.styler.active-filt .stylerback{
    width: 100%;
    background-color: #FF6A28;
    height: 79px;
    position: relative;
}


@media screen and (max-width:769px){

  .styler.active-filt .stylerback{

      height: 56px;
  } 
}   


@media screen and (max-width:426px){

  .styler.active-filt .stylerback{
 
      height: 81px;
  } 
}


.container {
}
.block {
}

.itog00{
    display: flex;
    flex-direction: row;
}
.itog1 {
    text-align: left;
}
.strok {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

@media screen and (max-width:769px){

  .strok{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   

  } 
}   


@media screen and (max-width:426px){

  .strok{
    display: flex;
    flex-direction: column;

  } 
}   


.footer1 {
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 191%;
    color: #121212;

}
.line6 {
    width: 20%;
    height: 10%;
    margin-top: 3.3%;
    margin-left: 2%;
    border: 1px solid #FF6A28;
}
.qqq {
font-family: 'Poppins';
font-size: 20px;
line-height: 191%;
width: 80%;
color: rgba(18, 18, 18, 0.5);
margin-bottom: 5%;
}
.www {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 191%;
    text-align: justify;
    color: rgba(18, 18, 18, 0.5);
}
.pb {
    width: 190px;
    height: 52px;
    left: 136px;
    top: 3466px;
    color: #fff;
    font-size: 20px;
    background: #FF6A28;
    border-radius: 5px;
}



@media screen and (max-width:1025px){

    .pb{
        font-size: 15px;
        width: 170px;
        height: 43px;
    } 
  }   



  @media screen and (max-width:769px){

    .pb{
        font-size: 11px;
        width: 150px;
        height: 33px;
    } 
  }   


  @media screen and (max-width:426px){

    .pb{
        font-size: 5px;
        width: 60px;
        height: 20px;
    } 
  }   






@media screen and (max-width:1025px){
    .footer1{
      font-size: 20px;
    }
    .qqq{
        font-size:17px ;
    } 
    .www{
        font-size: 17px ;
    }


  }   



 @media screen and (max-width:769px){
    .footer1{
      font-size: 14px;
    }
    .qqq{
        font-size: 13px ;
    } 
    .www{
        font-size: 13px ;
    }

  }   


@media screen and (max-width:426px){
    .footer1{
      font-size: 11px;
    }
    .qqq{
        font-size: 11px ;
    }
    .www{
        font-size: 11px ;
        text-align: center;
    }

    .strok {
        display: flex;
        flex-direction: column;
        margin-bottom: 3%;
    }
    .itog00{
        display: flex;
        flex-direction: column;
    }
    .itog1{
        text-align: center;
    }
    .line6{
        align-items: center;
    }
  }   








.itog2 {
    width: 60%;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4%;
}
.foot {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15%;
}

.foot:last-child{
    margin-right: 0;
}



.f {    
font-family: 'Poppins';
font-size: 20px;
line-height: 191%;
color: rgba(18, 18, 18, 0.5);
}

.f1 {
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 191%;
    color: #121212;
	cursor: pointer;
	text-decoration: 2px underline #FF6A28;
	text-align: center;
	margin: 25px 0;
}
.f1.active-p + .accordeon {
	display: block;
    border: 3px solid;
}
.f1.active-style {
	color: #FF6A28;
	font-weight: 900;
	text-decoration: none;
}
.accordeon{
	/* max-height: 0;
	transition: all 0.3s ease-out;
	opacity: 0;
	overflow: hidden; */

	display: none;
	font-size: 22px;
	line-height: 140%;
	text-align: justify;
    border-color: #FF6A28;
	border-radius: 15px;
	padding: 25px;
	background-color: #ffffff;
	color: #FF6A28;
}



@media screen and (max-width:1025px){
    .f1{
      font-size: 20px;
    }
    .f{
        font-size:17px ;
    } 


  }   



 @media screen and (max-width:769px){
    .f1{
      font-size: 14px;
    }
    .f{
        font-size: 13px ;
    } 


  }   


@media screen and (max-width:426px){
    .f1{
      font-size: 11px;
    }
    .f{
        font-size: 11px ;
    }

    .itog2{
        display: flex;
        flex-direction: column;
    }
    .itog00{
        align-items: center;
    }
  }   







.end{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: space-between;
}

.www1{
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 191%;
    color: rgba(18, 18, 18, 0.5);
}

.www2{
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 191%;
    color: rgba(18, 18, 18, 0.5);
}

.www3{
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 191%;
    color: rgba(18, 18, 18, 0.5);
}



@media screen and (max-width:1025px){
    .www1{
        font-size:17px ;
    }
    .www2{
        font-size:17px ;
    }  
    .www3{
        font-size:17px ;
    } 


  }   



 @media screen and (max-width:769px){
  .www1{
        font-size: 13px ;
    } 
    .www2{
        font-size: 13px ;
    } 
    .www3{
        font-size: 13px ;
    } 


  }   


@media screen and (max-width:426px){

    .www1{
        font-size: 11px ;
    }
    .www2{
        font-size: 11px ;
    }
    .www3{
        font-size: 11px ;
    }
    .end{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        align-items: center;
    }


  }   



